@{
    ViewData["Title"] = "حریم خصوصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5 text-center">
    <h1>حریم خصوصی</h1>
    <p>این سایت هیچ اطلاعات شخصی جمع نمی‌کند.</p>
</div>